doctype
html
	head
		title Google Image Search
		link(rel="stylesheet", href="CSS/style.css")
	body
		div(class='container')
			div
				h1 Google Search
				div
					form(method='GET' action='/search' class="form")
						input(type='text', name='searchInput', placeholder='search Images' class='searchBox')
						input(type='submit', value='Submit' class="button" class="roundBorder")